{
    "baseUrl": "服务器地址",
    "username": "学号",
    "passwordMd5": "密码的md5值",
    "token": "ShowDoc推送token值",
    "login_way": 1,
    "password": "江财oa密码",
    "fpVisitorId": "已认证浏览器指纹",
    "log_level": "INFO"
}